<!-- 
 Required variables:
 - posts: List[Post]
 - pagination: dict with 'page', 'next_url', 'prev_url'
 - [form]: PostForm
-->
{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ current_user.username }}!</h1>

    {% if form %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.post.label }}<br>
            {{ form.post(cols=32, rows=4, placeholder="What's on your mind?") }}<br>
            {% for error in form.post.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% endif %}

    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    {% if pagination.prev_url %}
    <a href="{{ pagination.prev_url }}">Newer posts</a>&nbsp;&nbsp; <!-- TODO: delete here and below and user.html to use css for spacing -->
    {% endif %}
    page: {{ pagination.page }}
    {% if pagination.next_url %}
    &nbsp;&nbsp;<a href="{{ pagination.next_url }}">Older posts</a>
    {% endif %}
{% endblock %}
