<!-- 
 Required variables:
 - posts: List[Post]
 - pagination: dict with 'page', 'next_url', 'prev_url'
 - [form]: PostForm
-->
{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block content %}
    <h1>Hi, {{ current_user.username }}!</h1>

    {% if form %}
    {{ wtf.form_field(form.post, placeholder="What's on your mind?") }}
    {{ wtf.form_field(form.submit) }}
    {% endif %}

    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}

    <nav aria-label="Post navigation">
        <ul class="pagination">
            <li class="page-item{% if not pagination.prev_url %} disabled{% endif %}">
                <a class="page-link" href="{{ pagination.prev_url }}">
                    <span aria-hidden="true">&larr;</span> Newer posts
                </a>
            </li>
            <li class="page-item{% if not pagination.next_url %} disabled{% endif %}">
                <a class="page-link" href="{{ pagination.next_url }}">
                    Older posts <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}
