<!-- 
  Required variables: 
    - user: the user corresponding to the rendered profile 
    - posts: the posts by that user
    - form: EmptyForm for follow/unfollow button
    - pagination: dict with 'page', 'next_url', 'prev_url'
-->

{% extends "base.html" %}

{% block content %}
<table>
  <tr valign="top">
    <td>{{ user.avatar(128) | safe }}</td>
    <td>
      {% if user.fname %}
        <h1>{{ user.fname }} {{ user.lname }}</h1>
        <h2>User: {{ user.username }}</h2>
      {% else %}
        <h1>User: {{ user.username }}</h1>
      {% endif %}

      {% if user.about_me %}
        <p>{{ user.about_me }}</p>
      {% endif %}
      {% if user.last_seen %}
        <p>Last seen on: {{ user.last_seen }}</p>
      {% endif %}

      <p>{{ user.followers_count() }} followers, {{ user.following_count() }} following.</p>
      
      {% if user == current_user %}
        <p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
      {% elif current_user.is_following(user) %}
        <p>
          <form action="{{ url_for('unfollow', username=user.username) }}", method="post">
            {{ form.hidden_tag() }}
            {{ form.submit(value='Unfollow') }}
          </form>
        </p>
      {% else %}
        <p>
          <form action="{{ url_for('follow', username=user.username) }}", method="post">
            {{ form.hidden_tag() }}
            {{ form.submit(value='Follow') }}
          </form>
        </p>
      {% endif %}
    </td>
  </tr>
</table>
<hr>

{% for post in posts %}
  {% include '_post.html' %}
{% endfor %}

<nav aria-label="Post navigation">
  <ul class="pagination">
    <li class="page-item{% if not pagination.prev_url %} disabled{% endif %}">
      <a class="page-link" href="{{ pagination.prev_url }}">
        <span aria-hidden="true">&larr;</span> Newer posts
      </a>
    </li>
    <li class="page-item{% if not pagination.next_url %} disabled{% endif %}">
      <a class="page-link" href="{{ pagination.next_url }}">
        Older posts <span aria-hidden="true">&rarr;</span>
      </a>
    </li>
  </ul>
</nav>
{% endblock %}